.acc-wiper-card-cont-img{
    /* width:240px; */

}
.aboutus-custom-cont{
    display: contents !important;
}

.about-us-two_img {
    background-image: url('https://yoge-demo.pbminfotech.com/html-demo/images/homepage-2/about-img-01.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire container */
    border-radius: 30px;
    max-width: 100%;
    height: 300px !important; /* Make sure it takes the full height of its parent */
    
    position: relative;
  }
  
  @media (max-width: 768px) {
    .about-us-two_img {
    }
  }
  
  @media (max-width: 576px) {
    .about-us-two_img {
      padding: 10px; /* Further adjust padding for very small screens */
    }
  }

  @media(min-width:1025px){
    .about-us-two_rightbox{
        padding-left: 20px;
    }
  }

  .about-custom-row{
    padding:10px !important;
  }
  .pbmit-ihbox-style-10{
    position: relative;
  }

  /* src/ClipPathComponent.css */
.pbmit-ihbox-box-number {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the div a circle */
  background-color: blue; /* Circle color */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Optional, for text boldness */
  position: absolute; /* Allows precise positioning */
  bottom: 10px; /* Distance from the bottom edge */
  right: 10px; /* Distance from the right edge */
}
